* {
  box-sizing: border-box;
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #dce6f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;
  margin: 0;
}

header {
  background-color: #38434f;
  height: 5rem;
  color: white;
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
}

header h1 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
}

header h1 img {
  margin-right: 1rem;
}

nav {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}

nav a:hover {
  filter: brightness(85%);
}

nav .avatar-pick {
  margin: 0;
}

nav .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #56687a;
  height: 3rem;
  color: white;
  padding: 0 3%;
}

button {
  background-color: #0a66c2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(85%);
}

button:active {
  filter: brightness(75%);
}

.logout-form {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.logout-btn {
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.5em;
}

#greeting-user {
  border-left: 1px solid white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
}

@font-face {
  font-family: "Outfit";
  src: url(/fonts/Outfit-VariableFont_wght.ttf?1b443ee3b6993db873f1faedffe56133);
}

